*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.todo-app{
    height: 100vh;
    background-color: #ffe3d6;
}

#adicionarTask{
    height: 40px;
    background-color: #b6dcfe;
    display: flex;
    justify-content: center;
    align-items: center;
}
#adicionarTask>button>a{
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}
.tarefa{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.categorias{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 170px;
    max-width:  100%;
    /* height: min-content; */
    /* border: 1px solid black; */
}



