<div class="todo-app">
<div id="adicionarTask">
  <label *ngFor="let propriedade of propriedades">
    <button *ngIf="!valoresEscolhidosTarefa[propriedades.indexOf(propriedade)]" 
    (click)="adicionarInput(propriedades.indexOf(propriedade))">
      +
    </button>
    <input *ngIf="valoresEscolhidosTarefa[propriedades.indexOf(propriedade)] 
                  && propriedade.array==[]" 
    [type]="propriedade.tipoDeDado"
    placeholder="{{propriedade.nomePropriedade}}"
    [(ngModel)]="valoresTarefa[propriedades.indexOf(propriedade)]"
    >
    <select *ngIf="valoresEscolhidosTarefa[propriedades.indexOf(propriedade)]
                  && propriedade.array!=[]"  

            style="background-color: #b6dcfe;"  
            id="categ" 
            [(ngModel)]="valoresTarefa[propriedades.indexOf(propriedade)]">
        <option *ngFor="let categoria of propriedade.array;index as indice">
          {{categoria.categoria}}
        </option>
    </select>
  </label>
  <button 
  (click)="cadastrarTarefa()">
    Adicionar tarefa
  </button>

</div>

<div>
  <select [(ngModel)]="propriedadeAMostrar">
    <option *ngFor="let propriedade of propriedades;index as indice">
      <div *ngIf="propriedade.array!=[]" >{{propriedade.nomePropriedade}}</div>
    </option>
  </select>
</div>

<div class="tarefa">

  <div 
  *ngFor="let categoria of propriedadeAMostrar.array;index as indiceCateg " 
  (dragover)="dragovrTarefa()" 
  (drop)="getCategoriaTarefa(categoria.categoria, $event)"
  id="{{categoria.categoria}}"
  class="categorias" >

    <categoria-app
      [style.backgroundColor]="categoria.corFundo"
      [tituloCategoria]="categoria.categoria"
      [indiceCategoria]="indiceCateg"
      (onRemoveCateg)="removerCategoria($event)">
    </categoria-app>
  
    <div *ngFor="let tarefa of tarefas;index as indice" 
    (dragstart)="dragTarefa(tarefa)"
    (dragover)="dragovrTarefa()" 
    (drop)="dropTarefa(indice, $event)" 
    draggable="true" 
    class="lista dropZone" >

        <tarefa-app 
        *ngIf="tarefa.arrayValorPropriedade
        [tarefa.arrayValorPropriedade.indexOf(propriedadeAMostrar)]
        ==
        categoria.categoria" 
        [propriedadesEscolhidas]="tarefa.arrayPropriedadeEscolhida"
        [valores]="tarefa.arrayValorPropriedade"
        [propriedaes]="tarefa.arrayPropriedade"
        [indice]="indice"
        (onMudou)="atualizar($event)"
        (onRemove)="removerTarefa($event)"
        (onDescricao)="mudar($event)">
        </tarefa-app>
    </div>

  </div>
</div>
</div>