<div class="todo-app">
<div id="adicionarTask">
  <label>Insira um Titulo</label>
  <input style="background-color: #b6dcfe;" placeholder="Titulo" [(ngModel)]="titulo" />
  <label for="">Descrição</label>
  <input style="background-color: #b6dcfe;" type="text" [(ngModel)]="descricao">
  <label for="">Categoria</label>
  <br>
  <select style="background-color: #b6dcfe;" 
  name="categoria" 
  id="categ" 
  (adicionar)="adicionarCategoria($event)"
   [(ngModel)]="categoria">
    <option *ngFor="let categoria of categorias;index as indice">{{categoria.categoria}}</option>
  </select>
  <button (click)="cadastrarTarefa()">Adicionar tarefa</button>
</div>
<div class="tarefa">
  <div 
  *ngFor="let categoria of categorias;
  index as indiceCateg " 
  [style.backgroundColor]="categoria.corFundo"
  class="categorias" >
    <categoria-app 
    [tituloCategoria]="categoria.categoria"
    [indiceCategoria]="indiceCateg"
    (onRemoveCateg)="removerCategoria($event)">
    </categoria-app>
    <!-- <div class="titulo">
      <span>{{categoria.categoria}}</span>
      <button (click)="removerCategoria(indiceCateg)">Remover</button>
    </div> -->
    <div *ngFor="let tarefa of tarefas;index as indice" class="lista">
        <tarefa-app *ngIf="tarefa.categoria==categoria.categoria" 
        [nomeTarefa]="tarefa.titulo"
        [descricaoTarefa]="tarefa.descricao"
        [tfCategoria]="categoria.categoria"
        [categorias]="categorias"
        [indice]="indice"
        (onMudou)="atualizar($event)"
        (onRemove)="removerTarefa($event)"
        (onDescricao)="mudarDescricao($event)">
        </tarefa-app>
          </div>
  </div>
</div>
</div>