<input 
placeholder="nome" [(ngModel)]="tarefa.nome" /><br>
<label>tarefa: <strong>{{nome}}</strong></label>
<br>
<select name="categoria" id="categ" [(ngModel)]="tarefa.categoria">
  <option value="DO">DO</option>
  <option value="DOING">DOING</option>
  <option value="DONE">DONE</option>
</select>
<button (click)="cadastrarUsuario()">cadastrar Usuario</button>
<br>

<div *ngFor="let tarefa of tarefas;index as indice">
  <button (click)="removerTarefa(indice)">REMOVER</button>

  <h4>tarefa: {{tarefa.nome}}</h4>
  <select name="categTarefa" id="categTarefa" [value]="tarefa.categoria">
    <option value="DO">DO</option>
  <option value="DOING">DOING</option>
  <option value="DONE">DONE</option>
  </select>
</div>