
<div>
    <h4>Tarefa: {{nomeTarefa}}</h4>
    <p>Descrição:</p>
    <textarea  
    cols="auto" 
    rows="auto"
    style="resize: none;max-width: 190px; max-height: 100px;"
    (change)="descricaoMudou(indice,descricaoTarefa)" [(ngModel)]="descricaoTarefa"></textarea>
    <p>categoria: </p>
    <select (mouseout)="categoriaMudou(indice,tfCategoria)"  [(ngModel)]="tfCategoria">
        <option *ngFor="let categoria of categorias">{{categoria.categoria}}</option>
    </select>
    <button (click)="clickRemover(indice)">Remover</button>
</div>