<div class="propriedade">
    <input type="text" placeholder="Nome da Propriedade" [(ngModel)]="nomePropriedade">
    <select (change)="mudarOpcao()" [(ngModel)]="tipoDeDado">
        <option value="String">Texto</option>
        <option value="Number">Número</option>
        <option value="Select">Seleção</option>
    </select> 
    <adiciona-categoria (adicionarCategorias)="adicionarCategoriaPropriedade($event)"
    [arrayPropriedadePrint]="arrayPropriedade"
    *ngIf="escolhidoSelecao">
    </adiciona-categoria>
    <button *ngIf="completar" (click)="criarPropriedade()">Criar Propriedade</button>
</div>